<h1>Listing employees</h1>
<% if @employees.count == 0 %>
<span id="errormsg"> No records found!!! </span>
<% else %>
<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Pan number</th>
      <th>Passport no</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_id %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.age %></td>
        <td><%= employee.pan_number %></td>
        <td><%= employee.passport_no %></td>
        <td><%= employee.email %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Back', '/' %>
